.LoginpopUp {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}

.login-popup-Container {
  place-self: center;
  color: #808080;
  width: max(23vw, 330px);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 30px;
  border-radius: 20px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-popup-title img {
  width: 16px;
  cursor: pointer;
}

.login-popup-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup-input input {
  padding: 10px;
  outline: none;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.login-popup-Container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  font-size: 15px;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  align-items: center;
  margin-top: -15px;
}
