.footer {
  color: #d9d9d9;
  background-color: #323232;
  padding: 20px 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 80px;
  margin-top: 80px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  gap: 80px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-right li {
  display: flex;
}

.footer-content-left,
.footer-content-center h2,
.footer-content-right h2 {
  color: white;
}

.footer-social-icon img {
  width: 40px;
  margin-right: 15px;
}

.footer .hr {
  width: 100%;
  background-color: gray;
  border: None;
  height: 2px;
  margin: 20px 0;
}

@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .footer-content-right {
    text-align: center;
  }
}

.footer-content-left .logo {
  height: 90px;
  width: 300px;
  border-radius: 10px;
}
